<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tags %><br>
      <% if Tag.all.each do |menutag| %>
        <% @idea.tags.each do |t| %>
          <% if t.text == menutag.text %>
            <%= check_box_tag 'idea[tags][]', menutag.text, true%>
          <% else %>
            <%= check_box_tag 'idea[tags][]', menutag.text%>
          <%end%>
          <%= menutag.text %>
        <%end%>
      <%end%>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
