<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label (t :topic), class: 'add-idea-label' %><br>
    <%= f.text_field :topic, :class => "form-control"  %>
  </div>
  <div class="field">
    <%= f.label (t :text), class: 'add-idea-label' %><br>
    <%= f.text_area :text, :class => "form-control", :rows => "5" %>
  </div>

  <div class="field">
    <%= f.label (t :tags), class: 'add-idea-label' %><br>
    <div class="add-idea-tags">
      <% if Tag.all.each do |menutag| %>
        <div class="add-idea-tag">
          <%= check_box_tag 'idea[tags][]', menutag.text%><br />
          <%= menutag.text %>
        </div>
      <%end%>
    </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit (t :create_idea), :class => "btn btn-primary" %>
  </div>
<% end %>
