<!-- Container for top bar -->
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-sm-10">
    </div>
    <% if current_user %>
    <div class="col-sm-2">
        <%= link_to (t :post_idea), new_idea_path, :class => 'btn btn-primary'%>
    </div>
    <% end %>
  </div>

  <!-- Show baskets -->
  <ul class="nav nav-tabs nav-justified">
    <% if not session[:user_id].nil? and current_user.moderator %>
      <li <% if current_page?(ideas_path(basket: "New")) -%>class="active"<% end -%>><%= link_to (t :basket_new), ideas_path(basket: "New" )%></li>
    <% end %>
      <li <% if current_page?(ideas_path(basket: "Approved")) -%>class="active"<% end -%>><%= link_to  (t :basket_approved), ideas_path(basket: "Approved" )%></li>
      <li <% if current_page?(ideas_path(basket: "Changing")) -%>class="active"<% end -%>><%= link_to  (t :basket_changing), ideas_path(basket: "Changing" )%></li>
      <li <% if current_page?(ideas_path(basket: "Changed")) -%>class="active"<% end -%>><%= link_to  (t :basket_changed), ideas_path(basket: "Changed" )%></li>
      <li <% if current_page?(ideas_path(basket: "Not Changed")) -%>class="active"<% end -%>><%= link_to  (t :basket_not_changed), ideas_path(basket: "Not Changed" )%></li>
    <% if not session[:user_id].nil? and current_user.moderator %>
      <li <% if current_page?(ideas_path(basket: "Rejected")) -%>class="active"<% end -%>><%= link_to  (t :basket_rejected), ideas_path(basket: "Rejected" )%></li>
    <% end %>
  </ul>
  <!-- End baskets -->
  <%= link_to "CSV", ideas_export_path(basket: params[:basket], format: "csv") %> 
  <!-- Show tags -->
  <div class="center tags">

    <%= form_tag(ideas_path, method: "get") do %>
      <%= hidden_field_tag(:basket, params[:basket]) %>
      <%= label_tag(:q, (t :filter_ideas)) %>
    <% Tag.all.each do |menutag| %>
      <%= label_tag(menutag.text) %>
      <%= check_box_tag(menutag.text, menutag.text, !(params[menutag.text].nil?)) %>
    <% end %>
      <%= submit_tag((t :filter)) %>
    <% end %>

  </div>
  <!-- End tags -->
  <!-- Show sort -->
  <%= sort_link @q, :topic_case_insensitive do %>
    <% (t :topic) %>
  <% end %>
  <%= sort_link @q, :created_at do %>
    <% (t :date) %>
  <% end %>
  <%= sort_link @q, :likes_count_sort, default_order: 'desc' do  %>
    <% (t :likes) %>
  <% end %>
  <!-- End sort -->
  <!-- Search form -->
  <%= search_form_for @q, url: search_ideas_path(basket: params[:basket]),
                          html: { method: :post } do |f| %>
    <%= f.label (t :search_form) %>
    <%= f.search_field :topic_or_text_cont %>

    <%= f.submit %>
  <% end %>
  <!-- End Search form -->
</div>
<!-- End top bar -->

<!-- Show every idea -->
<%= render 'layouts/list_ideas'%>
<!-- End show every idea -->
