<!-- Container for top bar -->
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-sm-10">
      <h1>Listing Ideas</h1>
    </div>
    <div class="col-sm-2">
        <%= link_to 'Post Idea', new_idea_path, :class => 'btn btn-primary'%>
    </div>
  </div>

  <!-- Show baskets -->
  <ul class="nav nav-tabs nav-justified">
    <% Basket.all.each do |basket| %>
      <!-- Check if user is moderator and show New and Rejected -->
      <% if basket.name == "New" or basket.name == "Rejected" %>
      <% else %>
          <% if basket.name == 'Approved'%>
            <li role="presentation" class="active">
              <%= link_to basket.name, ideas_path(basket: basket.name )%>
            </li>
          <% else %>
            <li role="presentation">
              <%= link_to basket.name, ideas_path(basket: basket.name )%>
            </li>
          <% end %>
      <%end%>
    <% end %>
  </ul>
  <!-- End baskets -->

  <!-- Show tags -->
  <div class="center tags">
    <% Tag.all.each do |menutag| %>
      <label class="checkbox-inline"><input type="checkbox" value="">
      <%= menutag.text %>
      </label>
      <% if menutag == Tag.find(4)%>
        <br>
      <% end %>
    <% end %>
  </div>
  <!-- End tags -->
</div>
<!-- End top bar -->

<!-- Show every idea -->
<% @ideas.each do |idea| %>
  <div class="container">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <!-- Draw topic -->
            <div class="col-sm-9">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse<%= idea.id * 2 %>"><%= idea.topic %></a>
              </h4>
              <p><%= User.find(idea.histories.first.user_id).name %> - <%= idea.histories.first.created_at.strftime('%d.%m.%Y %H:%M ') %></p>
              <%if idea.tags.empty?
                else%>
                  <p>Tags:
                  <% idea.tags.each do |tag| %>
                    <%= tag.text %>
                    <% if tag == idea.tags.last%>
                    <% else%>
                    ,
                    <%end%>
                  <%end%>
                </p>
              <%end%>
            </div>
            <!-- End topic -->
            <!-- Draw likes -->
            <div class="<col-sm-3 center">
              <% if idea.basket.name=='New'%>
                <%= link_to "Publish", publish_idea_path(idea), method: :post, class: "btn btn-primary" %>
              <% else %>
                <% likes = 0 %>
                <% idea.likes.each do |like| %>
                  <% a = Like.find(idea.id).like_type()
                      if a == 'like'
                        likes = likes + 1
                      end
                  %>
                <% end %>
                <button type="button" class="btn btn-success btn-md"><span class="glyphicon glyphicon-thumbs-up"></span> <%= likes %></button>
              <% end %>
            </div>
            <!-- End likes -->
          </div>
        </div>
        <div id="collapse<%= idea.id * 2 %>" class="panel-collapse collapse">
          <!-- Show idea text -->
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-9">
                <p><%= idea.text %></p>
              </div>
              <div class="col-sm-3 histories">
                <% idea.histories.each do |history|%>
                  <p><strong>Created:</strong><br>
                  <%= history.created_at.strftime('%d.%m.%Y %H:%M ') %></p>
                <% end %>
              </div>
            </div>
          </div>
          <!-- End idea text -->
          <div class="panel-footer">
            <div class="panel-group">
              <div class="panel panel-default">
                <!-- Draw how many comments -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse<%= idea.id * 2 +1 %>">Comments (<%= idea.comments.count %>)</a>
                  </h4>
                </div>
                <!-- End how many comments -->
                <div id="collapse<%= idea.id * 2 + 1 %>" class="panel-collapse collapse">
                  <% idea.comments.each do |comment| %>
                    <!-- Draw comments -->
                    <div class="panel-body">
                      <% if not session[:user_id].nil? and current_user.moderator %>
                        <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn-danger delete_comment" %>
                      <% end %>
                      <p><%= comment.user.name %>
                      <% if not comment.user.title.empty? and comment.user.moderator %>
                        (<%= comment.user.title %>)
                      <% end %>
                      - <%= comment.time.strftime('%d.%m.%Y %H:%M ') %></p>
                      <div class="panel-footer">
                        <p><%= comment.text %></p>
                      </div>
                    </div>
                    <!-- End draw comments -->
                  <% end %>
                  <!-- If user is logged in show comment box -->
                  <% if not session[:user_id].nil? %>
			            <%= form_for("comment", :url => main_app.comments_path, :html => { :class => "form-horizontal" } ) do |f| %>
				          <%= f.hidden_field :idea_id, :value => idea.id %>
				          <%= f.hidden_field :time, :value => Time.now %>
				          <div class="panel-body">
                    <div class="panel-footer">
    					        <div class="form-group" method="post" action="comment/new">
    						      <label for="comment">Comment:</label>
  						        <%= f.text_area :text,class: "form-control", rows: "5", id: "comment"%>
  						        <button type="submit" class="btn btn-primary">Send </button>
  					          <% end %>
                      </div>
                    </div>
                  </div>
                  <% end %>
                  <!-- End comment box -->
                </div>
              </div>
            </div>
            <div class="center">
              <a data-toggle="collapse" href="#collapse<%= idea.id * 2 %>">
                <span class="glyphicon glyphicon-menu-up"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- End show every idea -->
