<!-- Container for top bar -->
<div class="container">
  <p id="notice"><%= notice %></p>
  <% if not current_user.nil? and current_user.moderator %>
    <%= link_to (t :export), ideas_export_path(basket: params[:basket], format: "csv"), class: 'btn btn-success' %>
  <% end %>
  <!-- Show baskets -->
  <ul class="nav nav-tabs nav-justified">
    <% if not session[:user_id].nil? and current_user.moderator %>
      <li <% if current_page?(ideas_path(basket: "New")) -%>class="active idea-new"<% end -%>><%= link_to (t :basket_new), ideas_path(basket: "New" )%></li>
    <% end %>
      <li <% if current_page?(ideas_path(basket: "Approved")) -%>class="active approved-idea"<% end -%>><%= link_to  (t :basket_approved), ideas_path(basket: "Approved" )%></li>
      <li <% if current_page?(ideas_path(basket: "Changing")) -%>class="active changing-idea"<% end -%>><%= link_to  (t :basket_changing), ideas_path(basket: "Changing" )%></li>
      <li <% if current_page?(ideas_path(basket: "Changed")) -%>class="active changed-idea"<% end -%>><%= link_to  (t :basket_changed), ideas_path(basket: "Changed" )%></li>
      <li <% if current_page?(ideas_path(basket: "Not Changed")) -%>class="active not-changed-idea"<% end -%>><%= link_to  (t :basket_not_changed), ideas_path(basket: "Not Changed" )%></li>
    <% if not session[:user_id].nil? and current_user.moderator %>
      <li <% if current_page?(ideas_path(basket: "Rejected")) -%>class="active rejected-idea"<% end -%>><%= link_to  (t :basket_rejected), ideas_path(basket: "Rejected" )%></li>
    <% end %>
  </ul>
  <!-- End baskets -->
  <!-- Show tags -->
  <div class="center tags">

    <%= form_tag(ideas_path, method: "get") do %>
      <%= hidden_field_tag(:basket, params[:basket]) %>
    <% Tag.all.each do |menutag| %>
      <div class="tag-list">
        <%= check_box_tag(menutag.text, menutag.text, !(params[menutag.text].nil?)) %><br />
        <%= label_tag(menutag.text) %>
      </div>
    <% end %>
      <div class="tag-list">
        <%= submit_tag((t :filter), class: 'filter-tags') %>
      </div>
    <% end %>

  </div>
  <!-- End tags -->
  <!-- Show sort -->
  <div class="sort-ideas">
    <%= sort_link @q, :topic_case_insensitive do %>
      <% (t :topic_sort) %>
    <% end %>
    <%= sort_link @q, :created_at do %>
      <% (t :date_sort) %>
    <% end %>
    <%= sort_link @q, :likes_count_sort, default_order: 'desc' do  %>
      <% (t :likes_sort) %>
    <% end %>
    <% if current_user %>
      <span class="new-idea">
        <%= link_to (t :post_idea), new_idea_path %>
      </span>
    <% end %>
    <!-- Search form -->
    <%= search_form_for @q, class: 'search-bar', url: search_ideas_path(basket: params[:basket]),
                            html: { method: :post } do |f| %>
      <%= f.search_field :topic_or_text_cont %>
      <%= f.submit (t :search_form), class: 'search-button' %>
    <% end %>
    <!-- End Search form -->
  </div>
  <!-- End sort -->
</div>
<!-- End top bar -->

<!-- Show every idea -->
<%= render 'layouts/list_ideas'%>
<!-- End show every idea -->
<div class="container center">
  <div class="digg_pagination">
    <%= will_paginate @posts, :previous_label => '<', :next_label => '>' %>
  </div>
</div>
