<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @idea.topic %>
</p>

<p>
  <strong>Text:</strong>
  <%= @idea.text %>
</p>

<p>
  <strong>Basket:</strong>
  <%= @idea.basket_id %>
</p>



<p>
	<% @idea.comments.each do |comment| %>
	<%= comment.text %>
	<% end %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %> |
<%= link_to 'New Comment', new_comment_path %>


