<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-sm-9">
      <h2><%= @idea.topic %></h2>
      <p>
        <%= @idea.histories.first.user.name %> - <%= @idea.histories.first.time.strftime('%d.%m.%Y %H:%M ') %>
      </p>
      <%if not @idea.tags.empty?%>
        <p>Tags:
          <% @idea.tags.each do |tag| %>
            <%= tag.text %>
            <% if not tag == @idea.tags.last%>
              ,
            <%end%>
          <%end%>
        </p>
      <%end%>
    </div>
    <div class="col-sm-3 center">
	      <% if not (@idea.histories.last.basket == "New" or @idea.histories.last.basket == "Rejected")%>

		      <% if @idea.likes.find_by(user_id: current_user).nil? %>
			      <%= link_to like_idea_path(@idea), :class => 'btn btn-default', method: :post do %>
				      <span class="glyphicon glyphicon-thumbs-up"></span>
				      <%= @idea.likes.length %>
			      <% end %>
			      <%= link_to @idea, :class => 'btn btn-primary', :title => 'Show idea' do %>
				      <span class="glyphicon glyphicon-share"></span>
			      <% end %>	
		      <% else %>
			      <%= link_to unlike_idea_path(@idea), :class => 'btn btn-success', method: :post do %>
				      <span class="glyphicon glyphicon-thumbs-up"></span>
				      <%= @idea.likes.length %>
			      <% end %>
			      <%= link_to @idea, :class => 'btn btn-primary', :title => 'Show idea' do %>
				      <span class="glyphicon glyphicon-share"></span>
			      <% end %>
		      <% end %>

	      <% end %>
      <div class="fb-share-button" data-href="<%= request.url%>" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Jaa</a></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <p>
        <%= @idea.text %>
      </p>
    </div>
    <div class="col-sm-3">
      <% @idea.histories.each do |history|%>
        <p>
          <strong><%=history.basket%></strong>:<br>
          <%= history.time.strftime('%d.%m.%Y %H:%M ') %><br>
          <% if not history.basket == 'New' %>
            <%= history.user.name %>
            <% if not history.user.title.empty? and history.user.moderator %>
              (<%= history.user.title %>)
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <h3>
    Comments:
  </h3>
 <% @idea.comments.each do |comment| %>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <% if not session[:user_id].nil? and current_user.moderator %>
                            <% if comment.visible != true %>
                              <%= link_to 'Publish', publish_comment_path(comment), method: :publish, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn-success publish_comment" %>
                            <% else %>
                              <%= link_to 'Unpublish', unpublish_comment_path(comment), method: :unpublish, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn-success publish_comment" %>
                             <% end %>
                            <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn-danger delete_comment" %>
                          <% end %>
                          <p>
                          <%= link_to comment.user.name, comment.user_id %>
                          <% if not comment.user.title.empty? and comment.user.moderator %>
                            (<%= comment.user.title %>)
                          <% end %>
                          - <%= comment.time.strftime('%d.%m.%Y %H:%M ') %>
                          </p>
                        </div>
                        <div class="panel-body">
                          <p><%= comment.text %></p>
                        </div>
                      </div>
                    </li>
                  <% end %>

  <% if not session[:user_id].nil? %>

      <%= form_for("comment", :url => main_app.comments_path, :html => { :class => "form-horizontal" } ) do |f| %>
      <%= f.hidden_field :idea_id, :value => @idea.id %>
      <%= f.hidden_field :time, :value => Time.now %>
      <div method="post" action="comment/new">
        <p>
          Comment:
        </p>
        <%= f.text_area :text,class: "form-control", rows: "5", id: "comment"%>
          <button type="submit" class="btn btn-primary">Send </button>
        <% end %>
      </div>
  <% end %>

  <p>
  <% if not session[:user_id].nil? and current_user.moderator %>
    <%= link_to 'Edit', edit_idea_path(@idea) %> |
  <% end %>
  <%= link_to 'Back to ideas', ideas_path %>
  </p>
</div>
