<div class="container idea-show">
  <% if @idea.histories.last.basket == "New" %>
    <div class="row idea-top idea-new">
  <% end %>
  <% if @idea.histories.last.basket == "Approved" %>
    <div class="row idea-top approved-idea">
  <% end %>
  <% if @idea.histories.last.basket == "Changing" %>
    <div class="row idea-top changing-idea">
  <% end %>
  <% if @idea.histories.last.basket == "Changed" %>
    <div class="row idea-top changed-idea">
  <% end %>
  <% if @idea.histories.last.basket == "Not Changed" %>
    <div class="row idea-top not-changed-idea">
  <% end %>
  <% if @idea.histories.last.basket == "Rejected" %>
    <div class="row idea-top rejected-idea">
  <% end %>
  <p id="notice edit-idea"><%= notice %></p>
    <div class="col-sm-8">
      <h2><%= @idea.topic %></h2>
      <p class="user-time">
          <%= link_to @idea.histories.first.user.name, User.find(@idea.histories.first.user.id) %> / <%= @idea.histories.first.time.strftime('%d.%m.%Y / %H:%M ') %>
        <%if not @idea.tags.empty?%>
          <br /><span class="tag-text">
          <%= (t :tags) %>
            <% @idea.tags.each do |tag| %>
              <%= tag.text %>
              <% if not tag == @idea.tags.last%>
                ,
              <%end%>
            <%end%></span>
        <%end%>
      </p>
    </div>
    <div class="col-sm-4 center">

        <%= social_share_button_tag('Hydea | ' + @idea.topic, name: 'Hydea', url: request.url, popup: 'true') %>

	      <% if not (@idea.histories.last.basket == "New" or @idea.histories.last.basket == "Rejected")%>
          <button class="likes"><%= @idea.likes.length %></button>
          <% if @idea.histories.last.basket == "Approved" %>
            <% if @idea.likes.find_by(user_id: current_user).nil? %>
              <%= link_to like_idea_path(@idea), method: :post do %>
                <button class="like-button like">
                  <%=image_tag("peukku.png", alt: "Tykkää", class: 'thumb')%>
                </button>
              <% end %>
            <% else %>
              <%= link_to unlike_idea_path(@idea), method: :post do %>
                <button class="like-button liked">
                  <%=image_tag("peukku.png", alt: "Tykkää", class: 'thumb')%>
                </button>
              <% end %>
            <% end %>
          <% else %>
            <% if @idea.likes.find_by(user_id: current_user).nil? %>
              <button class="like-button like disable">
                <%=image_tag("peukku.png", alt: "Tykkää", class: 'thumb')%>
              </button>
            <% else %>
              <button class="like-button liked disable">
                <%=image_tag("peukku.png", alt: "Tykkää", class: 'thumb')%>
              </button>
            <% end %>
          <% end%>
	      <% end %>
    </div>
  </div>

  <div class="row idea-show-body">
    <div class="col-sm-9">
      <p>
        <%= @idea.text %>
      </p>
    </div>
    <div class="col-sm-3">
      <% @idea.histories.each do |history|%>
        <p>
          <strong><%=(t history.basket)%></strong>:<br>
          <%= history.time.strftime('%d.%m.%Y %H:%M ') %><br>
          <% if not history.basket == 'New' %>
            <%= history.user.name %>
            <% if not history.user.title.empty? and history.user.moderator %>
              (<%= history.user.title %>)
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <p class="idea-show-comment-text">
    <%= (t :comments) %>
  </p>

<ul class="list-group idea-show-comments">
  <% @idea.comments.order(:time).each do |comment| %>
    <% if (comment.visible? or (not current_user.nil? and current_user.moderator?)) %>
      <li class="list-group-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <% if not session[:user_id].nil? and current_user.moderator %>
              <% if comment.visible != true %>
                <%= link_to (t :publish_button), publish_comment_path(comment), method: :publish, data: { confirm: (t :are_you_sure) }, :class => "btn-sm btn-success publish_comment" %>
              <% else %>
                <%= link_to (t :unpublish_button), unpublish_comment_path(comment), method: :unpublish, data: { confirm:  (t :are_you_sure) }, :class => "btn-sm btn-success publish_comment" %>
              <% end %>
              <%= link_to (t :delete), comment, method: :delete, data: { confirm:  (t :are_you_sure) }, :class => "btn-sm btn-danger delete_comment" %>
            <% end %>
            <p class="user-time">
              <%= link_to comment.user.name, User.find(comment.user.id) %>
              <% if not comment.user.title.empty? and comment.user.moderator %>
                (<%= comment.user.title %>)
              <% end %>
              / <%= comment.time.strftime('%d.%m.%Y / %H:%M ') %>
            </p>
          </div>
          <div class="panel-body">
            <p><%= comment.text %></p>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>


    <% if not session[:user_id].nil? %>

      <%= form_for("comment", :url => main_app.comments_path, :html => { :class => "form-horizontal" } ) do |f| %>
      <%= f.hidden_field :idea_id, :value => @idea.id %>
      <%= f.hidden_field :time, :value => Time.now %>
      <div method="post" action="comment/new">
        <p class="comment-label">
         <%= (t :comment) %>
        </p>
        <%= f.text_area :text,class: "form-control", rows: "5", id: "comment"%>
        <button type="submit" class="btn btn-primary"><%= (t :send) %> </button>
        <% end %>
      </div>
  <% end %>
</ul>

  <p class="back">
  <% if not session[:user_id].nil? and current_user.moderator %>
    <%= link_to (t :edit), edit_idea_path(@idea) %> |
  <% end %>
  <%= link_to (t :ideas), ideas_path %>
  </p>
</div>
