<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>(t :user)</th>
      <th>(t :user)</th>
      <th>(t :text)</th>
      <th>(t :idea)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user_id %></td>
        <td><%= comment.time %></td>
        <td><%= comment.text %></td>
        <td><%= comment.idea_id %></td>
        <td><%= link_to (t :show), comment %></td>
        <td><%= link_to (t :edit), edit_comment_path(comment) %></td>
        <td><%= link_to (t :delete), comment, method: :delete, data: { confirm: (t :are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ( (t :new) + " " + (t :comment) ) , new_comment_path %>
