<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @comment.time %> 
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @comment.idea.topic %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', idea_path(@comment.idea) %>


