<p id="notice"><%= notice %></p>

<p>
  <strong>Like type:</strong>
  <%= @like.like_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @like.user_id %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @like.idea_id %>
</p>

<%= link_to (t :edit), edit_like_path(@like) %> |
<%= link_to (t :back), likes_path %>
