<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Listing Users</h1>

  <table class="list_users">
    <thead>
      <tr>
        <th>Admin</th>
        <th>Moderator</th>
        <th>Banned</th>
        <th>Name</th>
        <th>Email</th>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.order(:admin => :desc, :moderator => :desc, :name => :desc).each do |user| %>

        <tr>
          <td <% if user.admin %> class='bg' <% end %>><%= user.admin %></td>
          <td <% if user.moderator %> class='bg' <% end %>><%= user.moderator %></td>
          <td <% if user.banned %> class='bg' <% end %>><%= user.banned %></td>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td><%= user.title %></td>





          <td><%= link_to (t :edit), edit_user_path(user) %></td>


        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
