<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
      	</button>
      	<a class="navbar-brand" href="#">Hydea</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
	    <ul class="nav navbar-nav">

	      <li>
	      	<%= link_to (t :ideas), ideas_path %>
	      </li>
        <% if not current_user.nil? and current_user.admin %>
  	      <li>
  	      	<%= link_to (t :users), users_path %>
  	      </li>
        <% end %>
        <% if not current_user.nil? and current_user.moderator %>
          <li>
            <%= link_to (t :tags), tags_path %>
          </li>
        <% end %>
        	<li>
	      	<%= link_to (t :faq_button), '/faq' %>
	      </li>
	    </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li class="navbar-text">
          <%= t :greeting %> <!-- TESTIKENTTÄ LOKALISAATIOTA VARTEN -->
        </li>
        <li>
          <div class="btn-group">
            <%= link_to language_finnish_path, method: :post, class: 'btn btn-default' do %>
              <i class="famfamfam-flag-fi"></i>
            <% end %>
            <%= link_to language_english_path, method: :post, class: 'btn btn-default' do %>
              <i class="famfamfam-flag-gb"></i>
            <% end %>
            <%= link_to language_swedish_path, method: :post, class: 'btn btn-default' do %>
              <i class="famfamfam-flag-se"></i>
            <% end %>
          </div>
        </li>
	    <% if not current_user.nil? %>
			    <li><%= link_to User.find(current_user.name), User.find(current_user)%></li>
		    <li><%= link_to (t :logout_button), logout_path, method: :delete %></li>
		<% else %>
			<li><%=  link_to (t :login_button), haka_auth_new_path %></li>
		<% end %>
    </ul>
	</div>
  </div>
</nav>
<!-- Show banned -->
<% if not current_user.nil? and current_user.banned %>
  <div class="container center alert alert-danger">
    Insert banned text here.
  </div>
<% end %>
<!-- End banned -->
