<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
      	</button>
      	<a class="navbar-brand" href="#">Hydea</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
	    <ul class="nav navbar-nav">

	      <li>
	      	<%= link_to (t :ideas), ideas_path %>
	      </li>
	      <li>
	      	<%= link_to (t :users), users_path %>
	      </li>
	    </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li class="navbar-text">
          <%= t :greeting %> <!-- TESTIKENTTÄ LOKALISAATIOTA VARTEN -->
        </li>
        <li>
          <%= link_to image_tag("", :class => "flag flag-gb"), language_english_path, method: :post %>
        </li>
        <li>
          <%= link_to image_tag("", :class => "flag flag-fi"), language_finnish_path, method: :post %>
        </li>
        <li>
          <%= link_to image_tag("", :class => "flag flag-se"), language_swedish_path, method: :post %>
        </li>
	    <% if not session[:user_id].nil? %>
			    <li><%= link_to User.find(session[:user_id]).name, User.find(session[:user_id])%></li>
		    <li><%= link_to (t :logout_button), logout_path, method: :delete %></li>
		<% else %>
			<li><%=  link_to (t :login_button), haka_auth_new_path %></li>
		<% end %>
    </ul>
	</div>
  </div>
</nav>
