<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
      	</button>
        <%= link_to root_path do %>
      	 <%=image_tag("logo/hyy-seppele.png", alt: "Hyy Logo", class: 'navbar-brand brand-logo')%>
        <% end %>
        <%= link_to "Hydea", root_path, class: 'navbar-brand brand-text' %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
	    <ul class="nav navbar-nav">
	      <li>
	      	<%= link_to (t :ideas), ideas_path %>
	      </li>
        <% if not current_user.nil? and current_user.admin %>
  	      <li>
  	      	<%= link_to (t :users), users_path %>
  	      </li>
        <% end %>
        <% if not current_user.nil? and current_user.moderator %>
          
          <li>
            <%= link_to (t :tags), tags_path %>
          </li>
        <% end %>
        	<li>
	      	<%= link_to (t :faq_button), '/faq' %>
	      </li>
	    </ul>
      <ul class='nav navbar-nav navbar-middle'>
        <%= link_to "Hydea", root_path %>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <%= link_to 'Suomi', language_finnish_path, method: :post %>
        </li>
        <li>
          <%= link_to 'English', language_english_path, method: :post %>
        </li>
        <li>
          <%= link_to 'Svenska', language_swedish_path, method: :post %>
        </li>
	    <% if not current_user.nil? %>
			    <li><%= link_to User.all.find_by(id: current_user).name, User.all.find_by(id: current_user)%></li>
		    <li><%= link_to (t :logout_button), logout_path, method: :delete %></li>
		<% else %>
			<li><%=  link_to (t :login_button), haka_auth_new_path %></li>
		<% end %>
    </ul>
	</div>
  </div>
</nav>
<!-- Show banned -->
<% if not current_user.nil? and current_user.banned %>
  <div class="container center alert alert-danger">
    Insert banned text here.
  </div>
<% end %>
<!-- End banned -->
