<% if @ideas.nil? %>
  <div class="container">
    <!-- ohjataan Approved ideas baskettiin -->
  </div>
<% else %>
  <%@ideas.each do |idea|%>
    <div class="container collapse-group">
      <div class="panel panel-default">
        <% if idea.histories.last.basket == "New" %>
          <div class="panel-heading idea-top idea-new">
        <% end %>
        <% if idea.histories.last.basket == "Approved" %>
          <div class="panel-heading idea-top approved-idea">
        <% end %>
        <% if idea.histories.last.basket == "Changing" %>
          <div class="panel-heading idea-top changing-idea">
        <% end %>
        <% if idea.histories.last.basket == "Changed" %>
          <div class="panel-heading idea-top changed-idea">
        <% end %>
        <% if idea.histories.last.basket == "Not Changed" %>
          <div class="panel-heading idea-top not-changed-idea">
        <% end %>
        <% if idea.histories.last.basket == "Rejected" %>
          <div class="panel-heading idea-top rejected-idea">
        <% end %>
          <div class="row">
            <!-- Draw topic -->
            <div class="col-sm-9">
              <h4 class="panel-title">
                <% if idea.histories.last.basket == "New" or idea.histories.last.basket == "Rejected" %>
                  <a data-toggle="collapse" href="#collapse<%= idea.id * 2 %>"><%= idea.topic %></a>
                <% else %>
                  <%= link_to idea.topic, idea, :title => 'Show idea' %>
                <% end %>
              </h4>
              <p class="user-time"><%= link_to User.find(idea.histories.first.user_id).name, User.find(idea.histories.first.user_id) %> / <%= idea.histories.first.time.strftime('%d.%m.%Y / %H:%M ') %>
              <%if idea.tags.empty?
                else%>
                  <br />
                  <span class="tag-text">
                    <%= (t :tags) %>:
                    <% idea.tags.each do |tag| %>
                      <%= tag.text %>
                      <% if tag == idea.tags.last%>
                      <% else%>
                      ,
                      <%end%>
                    <%end%>
                  </span>
              <%end%>
              </p>
            </div>
            <!-- End topic -->
            <!-- Draw likes and basket controls-->
            <div class="<col-sm-3 center">
              <% if not session[:user_id].nil? and current_user.moderator %>
                <% if idea.histories.last.basket == "New"%>
                  <div class="btn-group">
                    <%= link_to (t :publish_button), publish_idea_path(idea), method: :post, class: "btn btn-primary" %>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <%= link_to (t :publish_and_moderate_button), publish_moderate_idea_path(idea), method: :post%>
                      </li>
                      <li>
                        <%= link_to (t :reject_button), reject_idea_path(idea), method: :post%>
                      </li>
                    </ul>
                  </div>
                <% elsif idea.histories.last.basket == "Approved" or idea.histories.last.basket == "Changing" %>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    <%= (t :move_to) %> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <% if idea.histories.last.basket == "Approved" %>
                      <li>
                        <%= link_to (t :move_basket_changing), changing_idea_path(idea), method: :post%>
                      </li>
                      <% end %>
                      <li>
                        <%= link_to (t :move_basket_changed), changed_idea_path(idea), method: :post%>
                      </li>
                      <li>
                        <%= link_to (t :move_basket_not_changed), not_changed_idea_path(idea), method: :post%>
                      </li>
                    </ul>
                  </div>
                <% end %>
              <% end %>
	      <% if not (idea.histories.last.basket == "New" or idea.histories.last.basket == "Rejected")%>
          <button class="likes"><%= idea.likes.length %></button>
          <% if idea.histories.last.basket == "Approved" %>
  		      <% if idea.likes.find_by(user_id: current_user).nil? %>
  			      <%= link_to like_idea_path(idea), method: :post do %>
                <button class="like-button like">
                  <%=image_tag("peukku.png", alt: "Tykkää", class: 'thumb')%>
                </button>
  			      <% end %>
  		      <% else %>
  			      <%= link_to unlike_idea_path(idea), method: :post do %>
                <button class="like-button liked">
                  <%=image_tag("peukku.png", alt: "Tykkää", class: 'thumb')%>
                </button>
  			      <% end %>
  		      <% end %>
          <% else %>
            <% if idea.likes.find_by(user_id: current_user).nil? %>
              <button class="like-button like disable">
                <%=image_tag("peukku.png", alt: "Tykkää", class: 'thumb')%>
              </button>
            <% else %>
              <button class="like-button liked disable">
                <%=image_tag("peukku.png", alt: "Tykkää", class: 'thumb')%>
              </button>
            <% end %>
          <% end%>
	      <% end %>
            </div>
            <!-- End likes and basket controls-->
          </div>
        </div>
        <div id="collapse<%= idea.id * 2 %>" class="panel-collapse collapse">
          <div class="panel-body idea-body">
            <div class="row">
              <!-- Show idea text -->
              <div class="col-sm-9">
                <p><%= idea.text %></p>
              </div>
              <!-- End idea text -->
              <div class="col-sm-3 histories">
                <% idea.histories.each do |history|%>
                  <p>
                    <strong><%=(t history.basket)%></strong>:<br>
                    <%= history.time.strftime('%d.%m.%Y %H:%M ') %><br>
                    <% if not history.basket == 'New' %>
                      <%= history.user.name %>
                      <% if not history.user.title.empty? and history.user.moderator %>
                        (<%= history.user.title %>)
                      <% end %>
                    <% end %>
                  </p>
                <% end %>
              </div>
            </div>
            <div class="panel panel-default">
              <!-- Draw how many comments -->
              <div class="panel-heading comment-top">
                <h4 class="panel-title">
                          <% if not current_user.nil? and current_user.moderator %>
                  <a data-toggle="collapse" href="#collapse<%= idea.id * 2 +1 %>"><%= (t :comments) %> (<%= idea.comments.count %>)</a>
			  <% else %>
                  <a data-toggle="collapse" href="#collapse<%= idea.id * 2 +1 %>"><%= (t :comments) %> (<%= idea.comments.where(visible: true).count %>)</a>
			  <% end %>
                </h4>
              </div>
              <!-- End how many comments -->
              <div id="collapse<%= idea.id * 2 + 1 %>" class="panel-collapse collapse">
                <!-- Draw comments -->
                <ul class="list-group comments">
                <% idea.comments.order(:time).each do |comment| %>
			<% if (comment.visible? or (not current_user.nil? and current_user.moderator?)) %>
                    <li class="list-group-item">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <% if not current_user.nil? and current_user.moderator %>
                            <% if comment.visible != true %>
                            <%= link_to (t :publish_button), publish_comment_path(comment), method: :publish, data: { confirm: (t :are_you_sure) }, :class => "btn-sm btn-success publish_comment" %>
                            <% else %>
                            <%= link_to (t :unpublish_button), unpublish_comment_path(comment), method: :unpublish, data: { confirm: (t :are_you_sure) }, :class => "btn-sm btn-success publish_comment" %>
                            <% end %>
                            <%= link_to (t :delete), comment, method: :delete, data: { confirm: (t :are_you_sure) }, :class => "btn-sm btn-danger delete_comment" %>
                          <% end %>
                          <p class="user-time">
                          <%= link_to comment.user.name, User.find(comment.user.id) %>
                          <% if not comment.user.title.empty? and comment.user.moderator %>
                            (<%= comment.user.title %>)
                          <% end %>
                          / <%= comment.time.strftime('%d.%m.%Y / %H:%M ') %>
                          </p>
                        </div>
                        <div class="panel-body">
                          <p><%= comment.text %></p>
                        </div>
                      </div>
                    </li>
	    <% end %>
                  <% end %>
                  <!-- End draw comments -->
                  <!-- If user is logged in show comment box -->
                  <% if not session[:user_id].nil? %>
                    <li class="list-group-item">
                      <%= form_for("comment", :url => main_app.comments_path, :html => { :class => "form-horizontal" } ) do |f| %>
                      <%= f.hidden_field :idea_id, :value => idea.id %>
                      <%= f.hidden_field :time, :value => Time.now %>
                      <div method="post" action="comment/new">
                        <div class="panel panel-default comment-container">
                          <div class="panel-heading">
                            <label for="comment"><%= (t :comment) %> </label>
                          </div>
                          <div class="panel-body">
                            <%= f.text_area :text,class: "form-control", rows: "5", id: "comment"%>
                            <button type="submit" class="btn btn-primary"><%= (t :send) %> </button>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </li>
                  <% end %>
                  <!-- End comment box -->
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Add collapse functionality -->
        <div class="panel-footer center idea-bottom">
          <a class='open-button'>
            <% if not current_user.nil? and current_user.moderator %>
              <%= (t :comments) %> (<%= idea.comments.count %>)
              <% if idea.comments.where(visible: false).count > 0 %>
                | <strong><%= idea.comments.where(visible: false).count %> <%= (t :waits_publish) %></strong>
              <% end %>
            <% else %>
              <%= (t :comments) %> (<%= idea.comments.where(visible: true).count %>)
            <% end %>
          </a>
          <a data-toggle="collapse" href="#collapse<%= idea.id * 2 %>">
            <span class="glyphicon glyphicon-option-horizontal"></span>
          </a>
        </div>
        <!-- End collapse functionality -->
      </div>
    </div>
  <% end %>
<% end %>
