<!DOCTYPE html>
<html>
<head>
  <title>Hydea</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% if request.path_info.include?('ideas/') %>
    <meta property="og:title" content="<%= @idea.topic %> | Hydea" />
    <meta property="og:description" content="<%= @idea.text%>" />
  <% else %>
    <!-- Selitys siitä mikä hydea on -->
    <meta property="og:title" content="Hydea" />
    <meta property="og:description" content="Your description" />
  <% end %>
  <meta property="og:image" content="http://hyy.helsinki.fi/sites/default/files/HYY_LOGO.png" />
  <meta property="og:image:secure_url" content="https://hyy.helsinki.fi/sites/default/files/HYY_LOGO.png" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
